<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neumorphism Profile Card | CodingNepal</title>
    <link rel="stylesheet" href="static\stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  <div class="wrapper">
    <div class="img-area">
      <div class="inner-area">
        <img src="static\images\2.jpeg" alt="">
      </div>
    </div>
    <div class="icon arrow"><p>Hello</p></div>
    <div class="icon dots">World</div>
    <div class="name">Elifas Gavra Harnanda</div>
    <div class="about">Data Enthusiast</div>
    <div class="social-icons">
      <a href="https://www.kaggle.com/elifasgavraharnanda" class="kaggle"><i class="fab fa-kaggle"></i></a>
      <a href="www.linkedin.com/in/elifas-gavra-harnanda" class="linkedin"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.instagram.com/elifasgavra/" class="insta"><i class="fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/channel/UC6REfpA1_-6Yju0XkIcGxmw/videos" class="yt"><i class="fab fa-youtube"></i></a>
    </div>
    <div class="social-share">
      <div class="row">
        <span>"Keep Humble"</span>
      </div>
    </div>
  </div>
</body>
</html>